[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=8.1"
pytest-mock = "~=3.8"
requests-mock = "~=1.10"
pre-commit = "~=4.0"
boto3 = "~=1.24"
coverage = "~=7.6"

[packages]
requests = "~=2.0"
urllib3 = "<2"
backoff = "~=2.2"

[requires]
python_version = "3.12"
