[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
pre-commit = "*"
boto3 = "~=1.24"
coverage = "*"
black = "*"

[packages]
requests = "~=2.0"
urllib3 = "<2"
backoff = "~=2.2"

[requires]
python_version = "3.12"
