[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=7.1"
pytest-mock = "~=3.8"
requests-mock = "~=1.0"
pre-commit = "~=2.20"
boto3 = "~=1.24"

[packages]
requests = "~=2.0"
urllib3 = "<2"
backoff = "~=2.2"

[requires]
python_version = "3.9"
